*{
    margin: 0;
    padding: 0;
}

section{
    background-image: url(https://media.gettyimages.com/id/1005853368/de/foto/chance-zur-ver%C3%A4nderung-mit-w%C3%BCrfel.jpg?s=612x612&w=0&k=20&c=wTi2mzcJB8C9gBMAi1EsAYwlK2ieaNwqfy_u1rjTYnk=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: auto;
}