@font-face{
    font-family: "Monoton";
    src: url(../fonts/Monoton-Regular.ttf);
}
@font-face{
    font-family: "Ubuntu";
    src: url(../fonts/Ubuntu-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: "Ubuntu";
}

body{
    background-color: #191b26;
    margin-left: 10em;
    margin-right: 10em;
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px;
    border-color: white;
    margin-top: 1em;
}

.Login{
    display: flex;
    flex-direction: row;
}

.Login>p{
    font-family: "Monoton";
    font-size: xx-large;
    color: white;
}

a{
    font-family: "Ubuntu";
    padding-left: 3em;
    text-decoration: none;
    color: bisque;
    font-size: larger;
}

a:hover{
    color: white;
}

section img{
    position: relative;
    top: 7em;
    left: 10em;
}

section{
    display: flex;
    flex-direction: row;
    text-align: left;
}

.Hero{
    color: bisque;
    margin-top: 12rem;
    padding-left: 7em;
    position: relative;
    left: 5em;
}

.IMG{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40rem;
}

img{
    padding-right: 1em;
}

h1{
    font-size: 50px;
    font-weight: bolder;
    margin-right: 14em;
}

p{
    text-align: left;
    text-transform: uppercase;
    color: peru;
    padding-right: 2em;
    margin-top: 2em;
}

span{
    text-decoration: line-through;
    text-decoration-color: peru;
}

.SiteArrows{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 10em;
    padding-bottom: 10em;
    padding-right: 7em;
}


