@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "WorkSans";
}

body {
  margin: 5em;
}

/*-----HEADER------*/

header {
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 10rem;
  padding-right: 5em;
  padding-left: 5em;
}

.HeroText {
  margin-bottom: 3em;
}

.HeroText p {
  font-size: small;
}

.HeroText h1 {
  font-family: "Inter";
  font-size: 60px;
}

.HeroText h1:last-of-type {
  font-family: "Inter";
  color: black;
  font-size: 60px;
  position: relative;
  bottom: 0.4em;
  -webkit-text-stroke: 1px white;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15rem;
  padding-bottom: 3em;
}

button {
  border: solid 1px white;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  padding: 15px 40px;
}

/*-----section 01------*/

.section01 {
  background-color: black;
  color: white;
}

.section01 article:first-of-type {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  text-align: left;
  font-size: 60px;
  padding-left: 1.4em;
  padding-right: 4em;
}

.section01 article:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5em;
}

.section01 img {
  object-fit: contain;
  height: 70vh;
}

.InfoText {
  padding-top: 5em;
}

.InfoText h2 {
  font-family: "Inter";
  font-size: 60px;
}

.InfoText p {
  font-size: 15px;
  padding-top: 1em;
}

/*-----section 02------*/

.section02 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-items: center;
}

.section02 {
  grid-template-areas:
    "nix nix GridImg1 "
    "GridImg2 nix nix"
    "nix GridText1 nix"
    "nix nix GridImg3"
    "GridImg4 nix nix"
    "nix nix GridImg5"
    "GridImg6 GridText2 nix"
    "nix nix GridImg7";
}

.section02 img {
  object-fit: contain;
  height: 30vh;
}

/*-----section 03------*/

.section03 {
  background-color: black;
  color: white;
  padding-top: 5em;
}

.section03 > p {
  padding-left: 15em;
  padding-bottom: 1em;
}

.section03Text {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding-left: 15em;
  padding-right: 5em;
}

.section03Text p {
  padding-top: 2em;
}

.section03 img {
  object-fit: contain;
  height: 50vh;
  padding-top: 5em;
  padding-left: 12em;
  padding-bottom: 1em;
}

.section03Text > h2 {
  font-family: "Inter";
  font-size: 60px;
}

/*-----section 04------*/

.section04 {
  padding-top: 5em;
}

.section04 > p {
  padding-left: 15em;
  padding-bottom: 1em;
}

.section04 img {
  object-fit: contain;
  height: 70vh;
  padding-top: 5em;
  padding-left: 12em;
  padding-bottom: 2em;
}

.section04Text > h2 {
  font-family: "Inter";
  font-size: 60px;
}

.section04Text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15em;
  padding-right: 5em;
}

.section04Text p {
  padding-top: 2em;
}

/*-----FOOTER------*/

Footer {
  background-color: black;
  color: white;
  padding-top: 12rem;
  position: relative;
  overflow: hidden;
}

.FooterPart1 {
  padding-left: 15em;
  padding-right: 30em;
}

.FooterPart1 h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.SocialMedia {
  display: flex;
  justify-content: space-between;
  padding-left: 15em;
  padding-right: 10em;
  padding-top: 5em;
}

/*-----BANNER-----*/

.Banner {
  background-color: white;
  height: 100px;
  transform: rotate(45deg);
  position: absolute;
  width: 3000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner-Content {
  color: black;
  font-family: "WorkSans";
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  animation: slide 10s linear infinite alternate;
}

.Banner-Content p {
  font-size: 4rem;
}

@keyframes slide {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translate(30%);
  }
}
