@font-face {
  font-family: "WorkSans";
  src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "WorkSans";
}

body {
  margin: 5em;
}

header {
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 10rem;
  padding-right: 5em;
  padding-left: 5em;
}

.HeroText {
  margin-bottom: 3em;
}

.HeroText p {
  font-size: small;
}

.HeroText h1 {
  font-family: "Inter";
  font-size: 60px;
}

.HeroText h1:last-of-type {
  font-family: "Inter";
  color: black;
  font-size: 60px;
  position: relative;
  bottom: 0.4em;
  -webkit-text-stroke: 1px white;
}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15rem;
  padding-bottom: 3em;
}

button {
  border: solid 1px white;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  padding: 15px 40px;
}

.section01 {
  background-color: black;
  color: white;
}

.section01 article:first-of-type {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  text-align: left;
  font-size: 60px;
  padding-left: 1.4em;
  padding-right: 4em;
}

.section01 article:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5em;
}

.section01 img {
  object-fit: contain;
  height: 70vh;
}

.InfoText {
  padding-top: 5em;
}

.InfoText h2 {
  font-family: "Inter";
  font-size: 60px;
}

.InfoText p {
  font-size: 15px;
  padding-top: 1em;
}

.section03 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1fr, 7);
}

.section02 img {
  object-fit: contain;
  height: 20vh;
}
