
@font-face{
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

@font-face{ 
    font-family: "RaleWay-Italic";
    src: url("../fonts/Raleway-Italic-VariableFont_wght.ttf");

}

/*--GENERAL--*/

html{
    font-family: "Raleway";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--BODY--*/

body{
    background-image: url(https://images.pexels.com/photos/2070118/pexels-photo-2070118.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
    height: 100%;
}

/*--HEADER--*/

nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    line-height: 4em;
    border-bottom: 0.5px solid black;
}

.logo{
    font-size: x-large;
    color: #666;
    font-weight: 300;
}

.logo:hover{
    font-size: x-large;
    color: #333;
}

a{
    text-decoration: none;
    display: flex;
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: small;
    color: #333;
}

a:hover{
    color: #337ab7;
}

.HeroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 20em;
    color: white;
}

.burger-wrapper {
    position: fixed;
    top: 20px;
    right: 20px;
  }
  
  .burger {
    background-color: rgb(115, 76, 143);
    height: 5px;
    width: 30px;
    margin: 2px;
    border-radius: 10px;
}

h1{
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 50px;
}

p{
    margin-bottom: 2em;
    font-size: 12px;
}


div:nth-of-type(4){
    display: flex;
    justify-content: space-around;
}

.HeroButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    text-align: center;
    color: white;
}


.Button1{
    background-color: none;
    background: none;
    border: 1px solid white;
    color: white;
    font-size: smaller;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 32px;
    width: 180px;
    margin: 5px;
}

.Button1:hover{
    background-color: white;
    color: black;
}

.Button2{
    background-color: none;
    background: rgb(152, 35, 255);
    border: 2px solid rgb(152, 35, 255);
    border: none;
    color: rgb(255, 255, 255);
    font-size: smaller;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 32px;
    width: 180px;
    margin: 5px;
}

.Button2:hover{
    background-color: rgb(124, 10, 231);
    border: 2px solid rgb(124, 10, 231);
    color: rgb(255, 255, 255);
}

/*--MAIN--*/

main div{
    background-color: white;
    margin-top: 50vh;
    padding-top: 30em;
    padding-bottom: 10em;
}

/*--MEDIA QUERIES--*/

 /* For I-Pad: */

@media only screen and (max-width: 922px){
    h1{
        font-size: 35px;
    }
}

@media only screen and (max-width: 922px){
    .Button1{
    padding: 10px 27px;
    width: 170px;
    }
}
@media only screen and (max-width: 922px){
    .Button2{
    padding: 10px 27px;
    width: 170px;
    }
}
@media only screen and (max-width: 922px){
    .Navigation{
        display: none;
    }
}
@media only screen and (max-width: 922px){
    main div{
        padding-top: 10em;
        margin-top: 70vh;
    }
}

 /* For Mobile: */

 @media only screen and (max-width: 576px){
    h1{
        font-size: 20px;
    }
}
 @media only screen and (max-width: 576px){
    p{
        font-size: 9px;
    }
}
@media only screen and (max-width: 576px){
    .Button1{
    padding: 10px 22px;
    width: 155px;
    }
}
@media only screen and (max-width: 576px){
    .Button2{
     padding: 10px 22px;
    width: 155px;
    }
}
@media only screen and (max-width: 922px){
    .Navigation{
        display: none;
    }
}

 /* For Desktop: */

@media only screen and (min-width: 922px){
    .burger-wrapper, .burger{
        display: none;
    }
}

