@font-face {
  font-family: "KarlaItalic";
  src: url(../assets/fonts/Karla-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla";
  src: url(../assets/fonts/Karla-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Karla";
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
}

.Links {
  padding-left: 3rem;
  text-decoration: none;
  color: black;
}

main {
  margin: 3em;
}

img {
  object-fit: contain;
  width: 100%;
}

.BigPictures {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 3em;
}

.BigPictures p {
  margin-top: 0.5em;
}

.ProductText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em;
  margin-top: 1rem;
  margin-bottom: 3em;
  object-fit: cover;
}

.Product1 p {
  margin-bottom: 0.5em;
}

.Beschreibung {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
