/*.main{
    max-width: 50%;
}

.body{
    display: inline-block;
}*/
    
    
img:nth-of-type(1){
    width: 100px;
}


img:nth-of-type(2){
    width: 10%;
}


img:nth-of-type(3){
    width: 5em;
}


img:nth-of-type(4){
    width: 20rem;
}


img:nth-of-type(5){
    width: 15vw;
}


img:nth-of-type(6){
    width: 35vh;
}