*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.Grid{
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
}

.Grid{
    row-gap: 3px;
    column-gap: 3px;
}

.img1 {
    grid-area: img1;  
}

.img2 {
    grid-area: img2;  
}

.img3 {
    grid-area: img3;  
}

.img4 {
    grid-area: img4;  
}

.img5 {
    grid-area: img5;  
}

.img6 {
    grid-area: img6;  
}

.img7 {
    grid-area: img7;  
}

.img8 {
    grid-area: img8;  
}

.img9 {
    grid-area: img9;  
}